/dev/ttyAMA0              0660   bluetooth  bluetooth
/dev/rfkill               0660   bluetooth  bluetooth
/dev/vcio                 0660   system     bluetooth
/dev/ion                  0664   system     system
/dev/video*               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera
/dev/dma_heap/linux,cma   0666   system     graphics
