_llseek: 1
epoll_create1: 1
epoll_ctl: 1
epoll_pwait: 1
eventfd2: 1
fstat64: 1
fstatat64: 1
fstatfs64: 1
getcwd: 1
getdents64: 1
geteuid32: 1
getuid32: 1
mmap2: 1
open: 1
pselect6: 1
sched_getaffinity: 1
statfs64: 1
sysinfo: 1
ugetrlimit: 1
